
<h1 class="h3 mb-4 text-gray-800">Attendance Time In Today</h1>

<div class="my-3"></div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Data Attendance</h6>
  </div>
  <% if (msg.length > 0) { %>
    <div class="row justify-content-center">
      <div class="alert alert-info alert-dismissible fade show mt-3" role="alert" style="width: 95%;">
        <%= msg  %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% } %>
  <% if (msg2.length > 0) { %>
    <div class="row justify-content-center">
      <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" style="width: 95%;">
        <%= msg2  %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% } %>

  <% function capitalize(words) {
    var separateWord = words.toLowerCase().split(' ');
    for (var i = 0; i < separateWord.length; i++) {
       separateWord[i] = separateWord[i].charAt(0).toUpperCase() +
       separateWord[i].substring(1);
    }
    return separateWord.join(' ');
 } %>

  <div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Date</th>
              <th>Attendance In</th>
              <th>Attendance Out</th>
              <th>Work Hours</th>
            </tr>
          </thead>
          <tbody>
            <% if (model.length > 0) { %>
              <% let i = 1 %> 
              <% model.forEach((data) => { %>
                <tr>
                  <th class="align-middle" style="width: 8%;"><%= i++  %>. </th>
                  <td class="align-middle" ><%= capitalize(data.username) %> </td>
                  <td class="align-middle" ><%= moment(data.date).format(`DD/MM/YYYY`) %> </td>
                  <td class="align-middle" ><%= data.time_in %> </td>
                  <td class="align-middle" ><%= data.time_out %> </td>
                  <td class="align-middle" ><%= data.total_hours %> </td>
                </tr>
              <% }) %>
            <% } %>
          </tbody>
        </table>
    </div>
  </div>
</div>